In [1]:
import pandas as pd

retrieve a sample of the data

In [2]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
yellow_data = 'yellow_tripdata_2021-01.csv.gz'
url = prefix + yellow_data

print(f"Downloading from {url}")
try:
    df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
    print("Data loaded successfully!")
except Exception as e:
    print(f"Error loading the data\nError code: {e}")

Downloading from https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Data loaded successfully!

In [3]:
# Convert the parquet to csv
df.to_csv('yellow_tripdata_2021-01.csv', index=False)
print("data successfully converted to csv")

data successfully converted to csv

In [4]:
print(type(df))

<class 'pandas.DataFrame'>

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [6]:
df.shape

(1369769, 19)

In [7]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag                  str
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [8]:
parse_dates = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64",
    "airport_fee" : "float64"
}

In [9]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', dtype = dtype, parse_dates = parse_dates)
print("Data successfully loaded to csv with correct data types!")

Data successfully loaded to csv with correct data types!

In [10]:
from sqlalchemy import create_engine
# Add "+psycopg" to the dialect prefix
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

Check the Data Definition Statement (DDL)

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

Create the table

In [12]:
df.head(0).to_sql(name='yellow_taxi_table', con=engine, if_exists='replace')

0

Seperate the dataframe into chunks

In [13]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', dtype = dtype, parse_dates = parse_dates, chunksize = 100000, iterator = True)

Ingest the data into the postgresql db in docker

In [14]:
# import tqdm for monitoring progress
from tqdm import tqdm

# create the table then insert data into it
first = True
for df_chunk in tqdm(df):
    if first:
        df_chunk.head(0).to_sql(name='yellow_taxi_table', con=engine, if_exists='replace')
        print("Table created")
        first = False
    rows = int(len(df_chunk))
    print(f"Next batch:{rows}rows")
    df_chunk.to_sql(name='yellow_taxi_table', con=engine, if_exists='append')
    print(f"{rows}rows inserted")

0it [00:00, ?it/s]

Table created
Next batch:100000rows

1it [00:15, 15.25s/it]

100000rows inserted
Next batch:100000rows

2it [00:30, 15.15s/it]

100000rows inserted
Next batch:100000rows

3it [00:46, 15.70s/it]

100000rows inserted
Next batch:100000rows

4it [01:02, 15.94s/it]

100000rows inserted
Next batch:100000rows

5it [01:17, 15.47s/it]

100000rows inserted
Next batch:100000rows

6it [01:32, 15.31s/it]

100000rows inserted
Next batch:100000rows

7it [01:48, 15.39s/it]

100000rows inserted
Next batch:100000rows

8it [02:01, 14.73s/it]

100000rows inserted
Next batch:100000rows

9it [02:13, 14.02s/it]

100000rows inserted
Next batch:100000rows

10it [02:25, 13.35s/it]

100000rows inserted
Next batch:100000rows

11it [02:38, 13.28s/it]

100000rows inserted
Next batch:100000rows

12it [02:52, 13.23s/it]

100000rows inserted
Next batch:100000rows

13it [03:05, 13.15s/it]

100000rows inserted
Next batch:69769rows

14it [03:13, 13.83s/it]

69769rows inserted